:root { /* custom properties */
    --principal: #fdfdfd;
    --secundario: #212121;
    --tercero: #11634a;
    --base: #082529;
    --fondo:#fafafa;
    --fuente-principal: 3.8rem;
 }
h1 {
    background-color: aqua;
    flex: auto;
}
